<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag %>
  <title>Nexproc</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="whole">
  <% if flash[:errors] %>
    <div class="alert alert-warning">
      <% flash[:errors].each_with_index do |error, i| %>
        <%= "<br>".html_safe if i > 0 %>
        <%= error %>
      <% end %>
    </div>
  <% end %>


<%= yield %>

</body>
</html>
